.Text-blurb {
  padding-top: 6vh;
  max-width: 75vw;
  text-align: start
}

.Home-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.test-container {
  display: flex;
  justify-content: space-between; /* Adjust spacing between the test components */
  margin: 20px 0; /* Add margin for spacing between the test components and footer */
}

.test {
  flex: 1; /* Ensure equal width for both test components */
  margin-bottom: 20px; /* Adjust spacing between test components */
}