.Text-blurb {
  padding-top: 6vh;
  max-width: 75vw;
  text-align: start
}

.Home-body {
  background-color: #282c34;
  height: 93vh; /* height gotten by subtracting 100 by the height of the NavB */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-card-bg{
  width: 49.9vw;
}

.home-card-contents{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(12px) brightness(.5);
}

.home-card-body {
  width: 40vw;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.home-card-button{
  font-size: calc(7px + 2vmin);
}