.text-center{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExb3ByZ2dsaGw4NGpjbnJudzYxdWhsdjdmZXpjejU3N2hseTN5b2xoYyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3o72F8t9TDi2xVnxOE/giphy.gif);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   color: black;
}
