.test-body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #282C34FF;
    color: white;
}

.question-container {
    min-height: 20vh;
}

.choice-button.selected {
    background-color: #0b39dd;
  }